@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", sans-serif;
}

.nosotros {
    display: flex;
    /* background-color: aqua; */
    z-index: 50;
    
    
}

.card {
    background-color: #313131;
    border: 1px solid;
}

.card img {
    width: 250px;
    height: 250px;
    border-radius: 800px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
    
}
.card p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 25px;

}

.card h5 {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: #fff;
    font-size: 30px;
}

.carousel-inner  .carousel-item  img{
    /* margin: 100px; */
    /* margin-right: 200px; */
    /* margin-left: 200px;
    margin-bottom: 200px; */
    margin-top: 200px;

    width: 300px;
    height: 1000px 
}

#imagen_registro img{
    width: 300px;
    height: 1000px
}


footer a{
    color: #fff;
}